body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column; 
  align-items: center;
  color: #eae9e1; 
}


.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('kousen.png') no-repeat center center fixed; 
  background-size: cover; 
  z-index: -1; 
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); 
  z-index: -1;
}


.header-text {
  font-size: 60px;
  font-weight: bold;
  margin: 90px 0 20px 0; 
  text-align: center;
  color: #ffffff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8); 

}
.button-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px; 
  width: 100%;
  max-width: 1440px; 
  height: 530px; 
}

/* ボタンの基本スタイル */
button,
  input[type="submit"] {
      background-color: #ff9c72; 
      /* color: #f3f1eb; */
      color: #ffffff;
      border: 1;
      border-color: #e28056;
      border-radius: 10px;
      font-size: 1.5rem;
      font-weight: bold;
      cursor: pointer;
      transition: transform 0.3s, background-color 0.3s;
      padding: 10px; 
      width: 100%; 
      height: 80px; 
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
}


button:hover,
input[type="submit"]:hover {
  transform: scale(1.05);
  background-color: #f97e49;
}